@import "compass";
$bg-body: #fff;
$bg-notes: #ccc;

body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 25px;
    background-color: $bg-body;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

#notes-wrapper {
    opacity: 0;
    @include transition-property(opacity);
    @include transition-duration(300ms);
    .pace-done & {
        opacity: 1;
    }
}

.wrapper {
    position: relative;
    width: 100%;
}

.note {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    width: 420px;
    padding: 20px;
    border-radius: 3px;
    background: -webkit-linear-gradient(#f9efaf, #f7e98d);
    background: -moz-linear-gradient(#f9efaf, #f7e98d);
    background: -o-linear-gradient(#f9efaf, #f7e98d);
    background: -ms-linear-gradient(#f9efaf, #f7e98d);
    background: linear-gradient(#f9efaf, #f7e98d);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-smoothing: subpixel-antialiased;
}

input,
textarea {
    display: block;
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    resize: none;
}

.buttons {
    position: absolute;
    right: 12px;
    bottom: 15px;
    button {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        margin-left: 0;
    }
}

button {
    margin: 0 10px;
    padding: 0;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    + button {
        margin-left: 10px;
    }
}

.title {
    box-sizing: border-box;
    margin: 0 0 8px;
    font-size: 1.5rem;
}

.content {
    box-sizing: border-box;
}

.date {
    margin: 0;
    margin: 10px 0 0;
    font-size: 0.9rem;
    opacity: 0.3;
    pointer: default;
}

.fa-file-archive-o {
    position: relative;
    top: -1px;
    font-size: 1.3rem;
}

.delete {
    opacity: 0.3;
    @include transition-property(all);
    @include transition-duration(300ms);
    &:hover {
        opacity: 1;
    }
}

/** Loading */

.pace {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-pointer-events: none;
}

.pace .pace-progress {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fafafa;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
}
