@import "compass";
$bg-body: #fff;
$bg-notes: #ccc;

body {
    font-family: "Lato", Arial, sans-serif;
    background-color: $bg-body;
}

.note {
    position: relative;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(20% - 20px);
    margin: 15px 10px;
    padding: 20px;
    border-radius: 3px;
    background: -webkit-linear-gradient(#f9efaf, #f7e98d);
    background: -moz-linear-gradient(#f9efaf, #f7e98d);
    background: -o-linear-gradient(#f9efaf, #f7e98d);
    background: -ms-linear-gradient(#f9efaf, #f7e98d);
    background: linear-gradient(#f9efaf, #f7e98d);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-smoothing: subpixel-antialiased;
    @include transition-property(box-shadow);
    @include transition-duration(300ms);
    @media (max-width: 1600px) {
        width: calc(25% - 20px);
    }
    @media (max-width: 1280px) {
        width: calc(33.3333% - 20px);
    }
    @media (max-width: 960px) {
        width: calc(50% - 20px);
    }
    @media (max-width: 767px) {
        width: calc(100% - 20px);
    }
}

input,
textarea {
    display: block;
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    resize: none;
}

.buttons {
    position: absolute;
    right: 12px;
    bottom: 15px;
    button {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        margin-left: 0;
    }
}

button {
    margin: 0 10px;
    padding: 0;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    + button {
        margin-left: 10px;
    }
}

.title {
    box-sizing: border-box;
    margin: 0 0 8px;
    font-size: 1.5rem;
}

.content {
    box-sizing: border-box;
}

.date {
    margin: 0;
    margin: 10px 0 0;
    font-size: 0.9rem;
    opacity: 0.3;
    pointer: default;
}

.fa-file-archive-o {
    position: relative;
    top: -1px;
    font-size: 1.3rem;
}

.delete {
    opacity: 0.3;
    @include transition-property(all);
    @include transition-duration(300ms);
    &:hover {
        opacity: 1;
    }
}
